<!DOCTYPE html>
<html lang="en" onclick="jump()">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWasteGame</title>
    <link rel="stylesheet" href="../CssFiles/FoodWasteGameStyle.css">
</head>
<body>
<div class="container">
    <ul class="topnav">
        <li><a href="../">Home</a></li>
        <li><a href="../read/foodwaste">Food Waste</a></li>
        <li><a href="../read/foodrecipies">Food Recipies</a></li>
        <li><a class="active" href="../game/foodwastegame">Food Waste Game</a></li>
    </ul>
    <img src="../Images/foodwaste.jpg" alt="Madspild" style="width:111%;">
    <div class="centered">
        <div class="game">
            <div id="character"></div>
            <div id="block"></div>
        </div>
        <p>Score: <span id="scoreSpan"></span></p>
    </div>
</div>
</body>
<script src="../JaveScript/script.js"></script>
</html>