<!DOCTYPE html>
<html lang="en" onclick="jump()">
<head>
    <meta charset="UTF-8">
    <title>FoodWasteGame</title>
    <link rel="stylesheet" href="../CssFiles/FoodWasteGameStyle.css">
</head>
<body>
<div class="container">
    <div class="Buttoms">
        <a class="btn1" title="Home" href="../">Home</a>
        <a class="btn2" title="Food waste" href="../read/foodwaste">Madspild</a>
        <a class="btn3" title="Food Waste Game" href="../game/foodwastegame">Madspild Spil</a>
    </div>
    <img src="../Images/foodwaste.jpg" alt="Madspild" style="width:111%;">
    <div class="centered">
        <div class="game">
            <div id="character"></div>
            <div id="block"></div>
        </div>
        <p>Score: <span id="scoreSpan"></span></p>
    </div>
</div>
</body>
<script src="../JaveScript/script.js"></script>
</html>