
ul.topnav {
    z-index: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    background-color: black;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #04AA6D;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
    }
}

body {
    background-image: url('../images/mad.jpg');
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}


.centered {
    position: absolute;
    text-align: center;
    color: black;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125%;
    height: 45%;
}

.search-button {
    font-family: FontAwesome, serif;

}
.search-bar {
    margin-top: 13px;
    margin-left: auto;
}

.search-bar:hover {
    background: #ccc;
}

#recipes_list {
    border: solid 2px white;
    background: rgba(255, 255, 255, 0.5);
}

.p1 {
    top: 55%;
}

