ul.topnav {
    z-index: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    background-color: black;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #04AA6D;
}

@media screen and (max-width: 600px) {
    ul.topnav li {
        float: none;
    }
}

.container {
    position: relative;
    text-align: center;
    color: black;
}



body, html {
    height: 100%;
    margin: 0;
}

.parallax {
    /* The image used */
    background-image: url('../images/mad.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url("../images/white.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    background-image: url("../images/food5.png");
    height: 150%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
