.container {
    position: relative;
    text-align: center;
    color: black;
}

body {margin: 0;}

ul.topnav {
    z-index: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    background-color: black;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

@media screen and (max-width: 600px) {
    ul.topnav li {float: none;}
}

.centered {
    position: absolute;
    text-align: center;
    color: black;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 45%;
}