ul.topnav {
    z-index: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    background-color: black;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


body {
    background-image: url('../images/mad.jpg');
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.logo1 {
    width: 150px;
    height: 150px;
    background: url('../images/foot1-removebg-preview.png');
    background-size: cover;
    float: left;
    position: absolute;
    top: 65%;
    left: 20%;
}

.text1 {
    margin-top: 135px;
    color: black;
    position: absolute;
    width: 150px;
    height: 40%;
}

.logo2 {
    max-height: 100%;
    max-width: 100%;
    width: 150px;
    height: 150px;
    background: url('../images/foot2.png') no-repeat scroll center center transparent;
    background-size: cover;
    float: left;
    position: absolute;
    top: 65%;
    left: 46%;
}

.text2 {
    margin-top: 150px;
    color: black;
    position: absolute;
    width: 150px;
    height: 53%;
}

.logo3 {
    max-height: 100%;
    max-width: 100%;
    width: 150px;
    height: 150px;
    background: url('../images/foot3.png') no-repeat scroll center center transparent;
    background-size: cover;
    float: left;
    position: absolute;
    top: 65%;
    left: 75%;

}

.text3 {
    margin-top: 140px;
    width: 150px;
    height: 40%;
    color: black;
    position: absolute;
}

.href1 {
    color: white;
}


.container {
    text-align: center;
    color: white;
}

.video1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    position: absolute;
    text-align: center;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 78%;
    border: solid 2px white;
    background: rgba(255, 255, 255, 0.5);
}
