<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Recipies</title>
    <link rel="stylesheet" href="../CssFiles/FoodRecipiesStyle.css">
</head>
<body>
    <div class="container">
        <div class="Buttoms">
            <a class="btn1" title="Home" href="/">Home</a>
            <a class="btn2" title="Food waste" href="/read/foodwaste">Madspild</a>
            <a class="btn3" title="Food Recipies" href="../read/foodrecipies">Food Recipies</a>
            <a class="btn4" title="Food Waste Game" href="/game/foodwastegame">Madspild Spil</a>
        </div>
<img src="../Images/foodwaste.jpg" alt="Madspild" style="width:111%;">
<div class="centered">

</div>
</div>
</body>
</html>