<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodWaste</title>
    <link rel="stylesheet" href="../CssFiles/FoodWasteStyle.css">
</head>
<body>
<div class="container">
    <div class="Buttoms">
        <a class="btn1" title="Home" href="/home">Home</a>
        <a class="btn2" title="Food waste" href="/read/foodwaste">Madspild</a>
        <a class="btn3" title="Food Waste Game" href="/game/foodwastegame">Madspild Spil</a>
    </div>
    <img src="../Images/foodwaste.jpg" alt="Madspild" style="width:111%;">
    <div class="centered">
        <h1>Hvorfor er der så meget madspild i Danmark?</h1>
        <p>Det meste madspild i Danmark sker inden maden bliver solgt til forbrugerne. Dvs. At det samlede madspild
            kommer fra primærproduktionen, fødevareindustrien, detailhandlen og storkøkkener. Det bliver opgjort til
            303.000 ton on året.</p>
        <p>Under primærproduktionen er det især under frugt og grønt madspildet sker. Det hænger sammen med en række
            markedsmekanismer og efterspørgsel på varer såsom æbler, kålhoveder og salat i bestemte størrelser. Dvs. At
            frugt og grønt bliver sorteret fra på baggrund af størrelse.</p>
        <p>Fødevareindustrien har blandt andet bagerne en udfordring og smider større mængder brød. Dette skyldes, at
            det kan være vanskeligt fra dag til dag at hvide, hvor meget brød butikkerne får solgt, og forbrugerne
            forventer friskbagte brød. Og derfor bliver frisk brød kasseret hurtigere, selvom det kan holde i flere
            dage.</p>
        <p>Detailhandlen er der også en stor antal udsmid af spiselige madvarer. Det sker på baggrund af fejlmærkning af
            fødevarer, forventninger om, at butikkerne har friske varer op til lukketid. Derudover den danske forbud mod
            at videregive fødevarer, der har overskrevet "Mindst-holdbar-til" mærkningen, selvom madvarerne sagtens kan
            holde sig i længere tid.</p>

        <h1>Hvad kan vi så gøre?</h1>
        <p>Som forbrugere kan vi blandt andet: </p>
        <ol>
            <li>Planlæg madindkøb, så der kun købes det der er behov for.</li>
            <li>Man kan spise lokale produkter. Så er der ikke behov for, at de skal holde sig i længe under
                transport.
            </li>
            <li>Forberedelse til at benytte sig af rester i nye retter, dog stadig under opsyn med holdbarheden.</li>
            <li>Sørger for at maden er under rigtig temperatur, så man smider mindre mad ud.</li>
            <li>Man kan eventuelt køle madrester, gemme det, fryse det osv. så de holder sig længere.</li>
        </ol>
        <p>Som virksomheder kan vi blandt andet: </p>
        <ol>
            <li>Man kan donerer fødevarer til velgørende formål. Dog er der regler i forhold til hvornår man må gøre
                det.
                Dette kan man finde ud af på fødevarestyrelsens hjemmeside.
            </li>
            <li>Sorterer afvigende vare fra. Her er der også nogle regler i forhold til hvornår man må gøre det</li>
            <li>Lave en service, hvor man eksempelvis sælger større mængder mad til billigere pris. Og her snakker vi om
                mad, hvor "holdbarheden" ikke er længe. Der findes blandt andet "To Good To Go".
            </li>
            <li>Der er mange andre ting virksomheder kan gøre. Man kan blandt andet se det under fødevarestyrelsens
                hjemmeside.
            </li>
        </ol>
    </div>
</div>
</body>
</html>