<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Recipies</title>
    <link rel="stylesheet" href="../CssFiles/FoodRecipiesStyle.css">
</head>
<body>
    <div class="container">
        <ul class="topnav">
            <li><a href="../">Home</a></li>
            <li><a href="../read/foodwaste">Food Waste</a></li>
            <li><a class="active" href="../read/foodrecipies">Food Recipies</a></li>
            <li><a href="../game/foodwastegame">Food Waste Game</a></li>
        </ul>
<img src="../Images/foodwaste.jpg" alt="Madspild" style="width:111%;">
<div class="centered">

</div>
</div>
</body>
</html>