<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="../CssFiles/about.css">

</head>
<body>

<ul class="topnav">
  <li><a href="../">Home</a></li>
  <li><a href="../read/foodwaste">Food Waste</a></li>
  <li><a href="../read/foodrecipes?foodType=">Food Recipies</a></li>
  <li><a class="active" href="../about">About</a></li>

</ul>
<div class="about-section">
  <h1>This is Databois</h1>
  <p>2. semester 2022.</p>
  <p>First HTML & CSS project</p>
</div>

<h2 style="text-align:center">The Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/originals/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg" alt="Mark" style="width:100%">
      <div class="container">
        <h2>Mark Bjørk Ziegler</h2>
        <p class="title">Databoi 1</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mark893b@stud.kea.dk</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/originals/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Daniel Alexander Dam</h2>
        <p class="title">Databoi 2</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/originals/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Malik Kütük</h2>
        <p class="title">Databoi 3</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/originals/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Sonny Langtoft Nielsen</h2>
        <p class="title">Databoi 4</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://i.pinimg.com/originals/d9/56/9b/d9569bbed4393e2ceb1af7ba64fdf86a.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Ebubekir Kayhan</h2>
        <p class="title">Databoi 5</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>